body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  font-family: "Poppins", sans-serif;
  width: 480px;
  height: 520px;
  background-color: white;
  color: #273A69;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #00C6C0;
  padding: 10px; 
}

#nav-links-container {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  margin-right: 20px;
  margin-top: 25px;
}

.nav-link {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  background: transparent;
  color: white;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover{
  color: #273A69
}

.main-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 20px;
  margin-left: 10px;
  letter-spacing: 1px;
}

#website-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  list-style: none;
  margin-right: 30px;
}

li {
  border: #F1F1E6 solid 1.5px;
  padding: 10px; 
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
}

li:nth-child(even) {
  background-color: #F1F1E6;
}

i:hover {
  color: #00C6C0;
}

